# Assignment 2
Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1B8XjyPA23Zg5-zLL02pAVU-avQeMQYJP/view?usp=sharing). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [31]:
import pandas as pd

In [32]:
PATH = 'athlete_events.csv'

In [33]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the oldest male and female participants of the 2012 Olympics?__

In [5]:

twenty_twelve = data[data['Year'] == 2012]
male = twenty_twelve[twenty_twelve['Sex'] == 'M']['Age'].max()
female = twenty_twelve[twenty_twelve['Sex'] == 'F']['Age'].max()
print(male,'\t',female)

71.0 	 57.0

__2. What are the mean and standard deviation of height for male basketball players who participated in the 1992 Olympics? Round the answer to the first decimal.__

In [23]:
male = (data[data['Year'] == 1992][data['Sex'] == 'M'])['Height']
print(pd.DataFrame(male).mean().round(1))
print(pd.DataFrame(male).std().round(1))

Height    179.7
dtype: float64
Height    9.5
dtype: float64

C:\Users\Фархат\AppData\Local\Temp\ipykernel_3152\2828248963.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  male = (data[data['Year'] == 1992][data['Sex'] == 'M'])['Height']

__3. How many times did Christine Jacoba Aaftink participate in the Olympics held in different years?__

In [18]:
a = data[data['Name'] == 'Christine Jacoba Aaftink']['Year'].unique()
e = pd.DataFrame(a).count()
print(e[0])

3

__4. Is it true that China won fewer medals than Russia at the 2012 Olympics? Do not consider NaN values in Medal column.__

In [28]:
twenty_twelve = pd.DataFrame(data[data['Year'] == 2012]).dropna(subset = ['Medal'])
China = twenty_twelve[twenty_twelve['Team'] == 'China']
Russia = twenty_twelve[twenty_twelve['Team'] == 'Russia']
print(China['Medal'].count()<Russia['Medal'].count())

True

__5. What is the absolute difference between the number of unique sports at the 1984 Olympics and 2016 Olympics?__

In [97]:
nineteen_eightyfour = pd.DataFrame(data[data['Year'] == 1984]['Sport'].unique())
twenty_sixteen = pd.DataFrame(data[data['Year'] == 2016]['Sport'].unique())
res = abs(nineteen_eightyfour.count() - twenty_sixteen.count())
print(res[0])

1

__6. Calculate the basic statistics (mean, median, min, max, standard deviation) for the Age, Height, and Weight columns.
Identify any outliers in the Weight column.__

In [26]:
mean_age = pd.DataFrame(data)['Age'].mean().round(1)
mean_height = data['Height'].mean().round(1)
mean_weight = data['Weight'].mean().round(1)
median_age = data['Age'].median()
median_height = data['Height'].median()
median_weight = data['Weight'].median()
max_age = data['Age'].max()
max_height = data['Height'].max()
max_weight = data['Weight'].max()
min_age = data['Age'].min()
min_height = data['Height'].min()
min_weight = data['Weight'].min()
std_age = data['Age'].std()
std_height = data['Height'].std()
std_weight = data['Weight'].std()
print(f"\tAttributes of Age: \nMean: {mean_age}, \nMedian: {median_age}, \nMax: {max_age}, \nMin: {min_age}, \nStd: {std_age}")
print(f"\n\tAttributes of Height: \nMean: {mean_height}, \nMedian: {median_height}, \nMax: {max_height}, \nMin: {min_height}, \nStd: {std_height}")
print(f"\n\tAttributes of Weight: \nMean: {mean_weight}, \nMedian: {median_weight}, \nMax: {max_weight}, \nMin: {min_weight}, \nStd: {std_weight}")

	Attributes of Age:
Mean: 25.6,
Median: 24.0,
Max: 97.0,
Min: 10.0,
Std: 6.393560847032701

	Attributes of Height:
Mean: 175.3,
Median: 175.0,
Max: 226.0,
Min: 127.0,
Std: 10.518462222678274

	Attributes of Weight:
Mean: 70.7,
Median: 70.0,
Max: 214.0,
Min: 25.0,
Std: 14.348019999019845

__7. Find the amount of all medals won by Kazakhstan__

In [124]:
kz = data[data['Team'] == 'Kazakhstan']['Medal'].dropna()
print(kz.count())

77

__8. Identify Kazakhstan's most successful Olympic Games__

In [120]:
kz = data[(data['Team'] == 'Kazakhstan') & (data['Medal'].notna())]
most = pd.DataFrame(kz).groupby('Year')['Medal'].count().reset_index()

print(most.loc[most.idxmax()])

   Year  Medal
9  2016     18
9  2016     18

__9. How many times did Michael Fred Phelps win different medals in the Olympics held in different years?__

In [91]:
mfp = data[(data['Name'] == 'Michael Fred Phelps, II') & (data['Medal'].notna())].groupby(['Year','Medal']).size().reset_index(name =  'Count')
mfp

   Year   Medal  Count
0  2004  Bronze      2
1  2004    Gold      6
2  2008    Gold      8
3  2012    Gold      4
4  2012  Silver      2
5  2016    Gold      5
6  2016  Silver      1